
<div class="modal-dialog autoclose">
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                    <img src="/Images/savannahRiverLogo2.png" class="img-responsive" alt="Savannah River Brewing Company Logo" style="max-height: 10em" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/Images/logoGlass.png" class="img-responsive" alt="Savannah River Brewing Company Craft Beer" />
                    <h4>Savannah River IPA <span class="tradeMarkSpan"><i class="fa fa-trademark"></i></span></h4>
                    <p class="center-block">A spunky India Pale Ale.  It uses hops like Simcoe, Cascade and a few others to make a fun hoppy flavor. All home town breweries need great tasting fun IPA.</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/Images/logoGlass.png" class="img-responsive" alt="Savannah River Brewing Company Craft Beer" />
                    <h4>Dynamite Brown Ale <span class="tradeMarkSpan"><i class="fa fa-trademark"></i></span></h4>
                    <p class="center-block">A hoppy American Brown Ale.  It has a mild malty taste accentuated with a mixture of American hops that is like “sugar and spice” so good, so good.</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/Images/logoGlass.png" class="img-responsive" alt="Savannah River Brewing Company Craft Beer" />
                    <h4>Green Jacket Pilsner <span class="tradeMarkSpan"><i class="fa fa-trademark"></i></span></h4>
                    <p class="center-block">Brewed in the tradition of Czech Pilsners, light and crisp with just the right amount of Saaz hops, making it delicately balanced and an easy “pil” to swallow, the mark of a true champion.</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/Images/logoGlass.png" class="img-responsive" alt="Savannah River Brewing Company Craft Beer" />
                    <h4>Westobou Amber Ale <span class="tradeMarkSpan"><i class="fa fa-trademark"></i></span></h4>
                    <p class="center-block">A prideful red ale, named in the tradition of the Westobou River, now known as the Savannah River.  It has an extra helping of Chinook hops that balances out the complex malt flavors.</p>
                </div>

            </div>
        </div>
    </div>
</div>