<div class="modal-dialog autoclose">
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                    <img src="/Images/savannahRiverLogo2.png" class="img-responsive" alt="Savannah River Brewing Company Logo" style="max-height: 10em" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <section>
                        <div class="iframe-rwd">
                            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&q=813 Fifth Street Augusta, GA 30901&ie=UTF8&t=roadmap&z=12&iwloc=B&output=embed"></iframe>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-sm-4">

                    <address>
                        <strong>Savannah River Brewing Co.</strong><br>
                        813 Fifth Street<br>
                        Augusta, GA 30901<br>
                    </address>
                    <address>
                        <a href="mailto:Contact@savannahriverbrew.com">Contact@savannahriverbrew.com</a>
                    </address>
                </div>

            </div>
        </div>
    </div>
</div>