<h1>Savannah River Brewing Company</h1>

<div class="container-fluid noPaddeing">
    <div class="row mainLogoArea">
        <div class="col-md-12 text-center">
            <img src="/Images/savannahRiverLogo2.png" class="img-responsive" alt="Savannah River Brewing Company Logo" />
        </div>
    </div>
</div>
<div class="container">


    <div class="row" id="text">
        <div class="col-md-12">
            <h2>Coming soon</h2>
            <p>
                We are <span class="highlight">working really hard</span> on your hometown brewery. Brewery and Taproom opening in <span class="highlight">January 2016</span>. <br /> So stay tuned and <span class="highlight">
                    check back soon
                </span> to see our progress!

            <p><a class="btn btn-primary" data-bind="click: signMeUp">Sign Me Up</a></p>

        </div>
    </div>

    <div class="row countdown">
        <div class="col-md-12">
            <div class="line"><h3>How much longer</h3></div>
            <div id="DateCountdown" data-date="2016-01-31 00:00:00"></div>
        </div>

    </div>

</div>
<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="#">SRBC</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <span class="smallTrademark">© 2015 Savannah River Brewing Company. All Rights Reserved</span>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-bind="click: beer">Beers</a></li>
                <li><a href="#" data-bind="click: contact">Contact</a></li>
                <li><a href="#" data-bind="click: signMeUp">Sign Me Up</a></li>
            </ul>
        </div>
    </div>
</footer>
